<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Nabaztag Say</string>
	<key>CFBundleIdentifier</key>
	<string>com.adiumx.nabsay.scripts</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>CFBundleName</key>
	<string>NabSay</string>
	<key>CFBundlePackageType</key>
	<string>AdIM</string>
	<key>Scripts</key>
	<array>
		<dict>
			<key>File</key>
			<string>nabsay</string>
			<key>Keyword</key>
			<string>/nabsay</string>
			<key>Title</key>
			<string>Send message to Nabaztag</string>
		</dict>
	</array>
	<key>Set</key>
	<string>Nabaztag Say for AdiumX</string>
</dict>
</plist>
